<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div id="box">
        <todo-list v-bind:todos="todos">
            <!-- 将 `slotProps` 定义为插槽作用域的名字 -->
            <template slot-scope="slotProps">
                <!-- 为待办项自定义一个模板，-->
                <!-- 通过 `slotProps` 定制每个待办项。-->
                <span v-if="slotProps.todo.isComplete">✓</span>
                {{ slotProps.todo.text }}
                <child></child>
            </template>
        </todo-list>
    </div>
    <script src="../../../../js/vue.js"></script>
    <script>
        var vm = new Vue({
            el: "#box",
            data: {
                todos: [{ text: 1, isComplete: true }, { text: 2, isComplete: false }, { text: 3, isComplete: true }]
            },
            components: {
                "child": {
                    template: `<div>123123</div>`
                },
                "todo-list": {
                    props: {
                        todos: Array
                    },
                    template: `
                    <ul>
                        <li
                            v-for="todo in todos"
                            v-bind:key="todo.id"
                        >
                            <slot v-bind:todo="todo"></slot>
                        </li>
                    </ul>`,
                    render: function (createElement) {
                        console.log(this);
                        return createElement('ul', [
                            this.todos.map((item, index)=>{
                                return createElement('li',
                                    this.$scopedSlots.default({
                                        todo: item
                                    })
                                )
                            })
                        ])
                    }
                }
            }
        })
    </script>
</body>

</html>